{
    "parser": "babel-eslint",
    "extends": [
        "airbnb-base",
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "no-tabs": 0,
        "class-methods-use-this": "off",
        "no-underscore-dangle": "off",
        "no-plusplus": "off",
        "no-mixed-spaces-and-tabs": "off",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "import/no-unresolved": "off",
        "import/extensions": "off",
        // TODO delete warn and off and deal with tech debt
        "no-unused-vars": "warn",
        "no-console": "warn",
        "no-case-declarations": "off",
        "import/prefer-default-export": "off",
        "max-len": ["warn", { "code": 120 }],
        "camelcase": "warn",
        "no-restricted-syntax": "warn",
        "no-param-reassign": "warn",
        "no-use-before-define": "warn",
        "prefer-promise-reject-errors": "warn",
        "no-return-assign": "warn",
        "consistent-return": "warn",
        "array-callback-return": "warn",
        "no-mixed-operators": "warn",
        "brace-style": "warn",
        "no-continue": "warn",
        "no-lonely-if": "warn",
        "no-shadow": "warn",
        "no-restricted-globals": "warn"
    },
    "globals": {
        "document": true,
        "window": true,
        "alert": true,
        "navigator": true
    },
    "plugins": [
        "react"
    ]
}
